html {
  height: 100%;
}

body {
  margin: 0px;
  background-image: url("../resources/fall.png");]
  background-repeat: no-repeat;
}

.main {
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0,0,0,.5);
  min-height: 100vh
}

.content {
  text-align: center;
  text-align: -webkit-center;
}

.ps-nav-container{
  margin-bottom: 69px;
  margin-top: 36px;

  display:flex;
  justify-content:center;
  align-items:center;
}

.ps-hamburger::before {
      font-size: 254%;
}

.ps-nav {
  font-size: 282%;

  color: white;
}

.name-heading{
  font-size: 90px;
}

.script {
  font-family: 'Dancing Script', cursive;
}
