html,body {
  background-color: #2d5d65 !important;
  height: 100%;
}

.ps-main-container, ps-main{
  height: 100%;

  height: -webkit-fill-available;

}

.ps-sidebar-container {
  list-style: none;
  padding-left: 0px;
  color: white;
}

.ps-sidebar-item {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.ps-emblem {
  font-family: 'Dancing Script', cursive;
  font-size: 7em;
  background-color: #c73314;
  text-align: center;
  border-radius: 50%;
  content: ' \25CF';
  height: 140px;
  width: 140px;
  margin: auto;
}

.ps-sidebar {
  background-color: rgba(47, 45, 45, 0.81);
  min-width: 166px;

  height: -webkit-fill-available;
}
