html {
  height: 100%;
}

body {
  margin: 0px;
  background-image: url("../resources/fall.png");
}

.main {
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0,0,0,.5);
  min-height: 100vh;
}

.navigation{
  display:inline-block;
}

.navbar {
  text-align: center;
}


.nav-link {
  color: white
}

.nav-link:hover {
  background-color: inherit;
  opacity: .8;
}

.content {
  text-align: center;
  text-align: -webkit-center;
}

.ps-nav-container{
  margin-bottom: 69px;
  margin-top: 36px;

  display:flex;
  justify-content:center;
  align-items:center;
}

.ps-hamburger::before {
      font-size: 254%;
}

.glyphicon-menu-hamburger:before {
    content: "\e236";
    border: solid 1px;
    border-radius: 3px;
  }

.ps-nav {
  font-size: 25px;
  color: white;
}

.name-heading{
  font-size: 90px;
}

.script {
  font-family: 'Dancing Script', cursive;
}



.fade-in {

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
